.nav {
    width: 100%;
    padding: 0;
    display: flex;
    padding: 16px;

    &-link {
        margin-left: auto;
    }

    &-btn {
        // margin-left: auto;
        font-size: 10px;
        text-transform: uppercase;
    }
}